
.logogit {
  width: 70px;      
    height: auto;    
    padding: 5px; 
}

.title {
  margin-left: 6.5rem;
  margin-top: -4.75rem;
}

.sm {
  margin-left: 6.5rem;
  margin-top: -1rem;
}

.githubsearch {
  margin-left: 3rem;
}
